/*
* #VARIABLES
*/

// Colors Palette
$primary-color: #fff;
$secondary-color: cyan;
$bg-color: #000;

// Gutter
$maxW: 960px; //Tablet
$gap: .5em;

//BreakPoints
$small: 420px;
$medium: 640px;
$large: 980px;


/*
* #MIXINS
*/

@mixin desde($size){
  @media screen and (min-width: $size){
    @content;
  }
}

/*
* #BASE
*/

// Reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

body{
  color: $primary-color;
  max-width: $maxW;
  // From http://lea.verou.me/css3patterns/#starry-night
  background-color: $bg-color;
  background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  @include desde($maxW){
    margin: auto;
  }
}

/*
* #SITE LAYOUT
*/

// HEADER
.main{
  &-header{
    width: 100%;
    margin-bottom: $gap * 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desde($medium){
      margin-bottom: $gap * 4;
    }
  }

  // Nav
  &-nav{
    margin: $gap;
  }

  &-menu{
    background-color: #fff;
    color: #000;
    width: 70%;
    height: 100vh;
    transition: all 1s ease;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 10;
    @include desde($medium){
      width: 50%;
    }
    @include desde($large){
      width: 30%;
    }

    &.active{
      left: 0;
    }

    &--disclaimer{
      margin-top: 5em;
      margin-right: $gap;
      margin-left: $gap;
      width: 90%;
      overflow: auto;
    }
    &--title{
      text-transform: uppercase;
      font-size: .9em;
      font-weight: 100;
      padding-bottom: 1em;
    }
    &--content{
      font-size: .9em;
      line-height: 1.2;
      padding-bottom: 1em;
    }
    &--footer{
      margin-top: 2em;
    }
    code{
      display: block;
      margin-bottom: 1em;
    }
    &--source{
      padding-top: 2.5em;
    }
    &--sign{
      padding-left: 2.5em;
      line-height: 2;
      height: 2em;
      position: relative;
      &::before{
        content: "❤";
        position: absolute;
        top: 0;
        left: 7px;
        color: red;
        font-size: 2em;
        line-height: .5;
      }
    }
  }

  // Form
  &-form{
    width: 90%;
    background-color: #fff;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    padding-right: 2px;
    padding-left: 2px;
    margin: 1em $gap;
    @include desde($medium){
      background-color:  lighten(#000, 8);
      border-radius: 4px;
    }

    &--input{
      width: 100%;
      border: none;
      line-height: 2.5;
      color: lighten(#000, 1);
      padding-left: .5em;
      background-color: transparent;
      @include desde($medium){
        color: #fff;
        line-height: 2.5;
        font-size: 1.2em;
      }

      &:focus{
        outline: none;
      }
    }

    &--button{
      background-color: transparent;
      border: none;
      line-height: 2.5;
      padding-right: .5em;
      padding-left: .5em;
      border-left: thin solid #ddd;
      @include desde($medium){
        color: #fff;
        line-height: 2.5;
        font-size: 1.2em;
        border:none;
        cursor: pointer;
      }

      &:focus{
        outline: none;
      }
    }
  }
}

// Hamburguesa
.toggle-menu{
    // Menú ejemplo http://codepen.io/Ju4ni/pen/PZBJNw
    color: $primary-color;
    font-size: 2em;
    font-weight: 100;
    cursor: pointer;
    position: relative;
    z-index: 20;

    &.inactive{
      color: #000;
    // position: relative;
    //   &::before{
    //     content: "x";
    //     top: 0;
    //     left: 0;
    //     color: #000;
    //     position: absolute;
    //   }
    }
}

// BANNER
.banner{
  text-align: center;
  margin-bottom: $gap * 3;
  padding-right: .5em;
  padding-left: .5em;
  color: darken(#fff, 9);
  @include desde($medium){
    margin-bottom: $gap * 4;
  }

  &--title{
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: $gap;
    @include desde($medium){
      font-size: 2em;
    }
  }

  &--description{
    font-size: .9em;
    line-height: 1.25em;
    padding-right: .5em;
    padding-left: .5em;
    @include desde($medium){
      font-size: 1.2em;
      color: #bbb;
    }
  }
}

// Content
.main-content{
  width:100%;
  margin: auto;
  padding-right: .5em;
  padding-left: .5em;

  &__item{
  background-color: lighten(#000, 6);
  line-height: 3em;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5em;
  padding-right: .5em;
  padding-left: .5em;
  font-weight: 100;
  color: $secondary-color;
    &:nth-child(even){
      color: lime;
    }

    &--name{
      text-transform: uppercase;
    }

    &--weight{
      font-size: 1.2em;
    }
  }
}