$primary-color: #0ff;

body{
  background-color: gold;
  // margin: 0 auto;
}

body div{
  background-color: #f00;
}

.container{
  display: flex;

  .item{
    background-color: $primary-color;
  }
}